---
import { getCollection } from 'astro:content';
import Subscribe from '../../components/Subscribe.astro';
import ArrowRight from '../../icons/ArrowRight.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getAllTags, getPostsByTag, sortItemsByDateDesc } from '../../utils/data-utils';

const posts = (await getCollection('blog')).sort(sortItemsByDateDesc);
const tags = getAllTags(posts).sort((tagA, tagB) => {
    const postCountTagA = getPostsByTag(posts, tagA.id).length;
    const postCountTagB = getPostsByTag(posts, tagB.id).length;
    return postCountTagB - postCountTagA;
});
---

<BaseLayout title="文章归档与分类" description="按照标签探索文章与想法，快速定位你感兴趣的话题内容。" showHeader={false}>
    <h1 class="mb-12 text-3xl font-serif sm:mb-16 sm:text-4xl text-main font-bold">主题标签墙</h1>
    {
        tags.map((tag) => {
            const postCount = getPostsByTag(posts, tag.id).length;
            return (
                <a
                    class="mb-8 flex justify-between items-start gap-8 group sm:mb-10 pb-6 border-b border-dashed border-main/20 hover:border-main/50 transition-colors"
                    href={`/tags/${tag.id}`}
                >
                    <div class="grow">
                        <h2 class="text-xl leading-tight font-serif font-medium group-hover:text-gray-600 dark:group-hover:text-gray-300 transition-colors sm:text-2xl">
                            {tag.name}
                        </h2>
                        <div class="mt-2 text-sm text-main/60 leading-normal">共收录 {postCount} 篇文章</div>
                    </div>
                    <div class="hidden font-serif opacity-0 transition group-hover:opacity-100 sm:inline-flex sm:gap-1 sm:items-center sm:shrink-0 text-main/70">
                        查看相关文章 <ArrowRight class="fill-current w-4 h-4 ml-1" />
                    </div>
                </a>
            );
        })
    }
    <Subscribe class="my-16 sm:my-24" />
</BaseLayout>
